<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
		<style>
			body {
				font-family: sans-serif;
			}
			h1 {
				background: #ddd;
			}
			#sidebar {
				float: left;
			}
		</style>
	</head>
	<body>
		<h1>{{.Title}}</h1>

		<div id="sidebar">
			{{block "sidebar" .}}
			
			<ul>
				{{- range .Links}}
				<li><a href="{{.URL}}">{{.Title}}</a></li>
				{{- end}}
				<li><a href="/new_game">Play new game!</a></li>
			</ul>
			{{end}}
		</div>

		{{block "content" .}}
		<div id="content">
			{{.Body}}
		</div>
		
		{{end}}
		</div>

	</body>
</html>
